

.wrapper-header {
    background: #ddd;
}


.wrapper-header a.nav-link.active {
    background: #f5f5f5;
    border-top: 1px solid #0070C0;
    border-radius: 0;
    color: #0070C0 !important;
}

.header-left a, .header-minimise a{
    text-decoration: none;
    color: #000;
}


.wrapper-header .header-left a:hover {
    background: #f5f5f5;
    border-top: 1px solid #0070C0;
    border-radius: 0;
    color: #0070C0 !important;
}

.wrapper-header h2, .header-sidenav h2 a{
    margin: 0;
    color: blue;
    font-size: 40px !important;
} 

.wrapper-header h2 a:hover, .header-sidenav a:hover {
    text-decoration: none !important;
    color: inherit !important;
}

.header-left .nav-menu {
    align-items: center;
}
.header-left a {
    padding: 12px;
}


.separate {
    border-left: 1px solid #E7E7E7;
    padding-left: 0;
}

/******/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    color: #000;
    display: block;
    transition: 0.3s;
  }
  .sidenav a:hover{
      text-decoration: none;
      color: #000;
  }
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 0;}
    .sidenav a {font-size: 18px;}
  }

.header-side{
    display: none !important;
    margin:0;
    border-top: 1px solid #E7E7E7;
}

/**/
/* .header-sidenav{
    width: 0;
    height: 90%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
} */
.header-sidenav ul.nav{
    flex-direction: column !important;
}
.header-sidenav ul.nav li.nav-item{
    text-align: start;
}
/**/
.header-side .navbar-toggler{
    padding: 0 !important;
    padding-left: 10px;
}



@media (max-width: 995px) {
    .wrapper-header .container{
        max-width: 100% !important;
    }
    .header-side{
        display: flex !important;
    }
    .header-left{
        display: none;
    }
    .wrap-header .logo-header{
        flex: none;
        max-width: 100%;
    }
}