.wrap-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrap-logo img, .wrap-logo svg {
    width: 100%;
    /* height: 125px; */
}

.col-3.service-logo {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col.bloc-service {
    box-shadow: 0px 3px 8px 0px rgb(225 219 219);
    margin: 10px 0;
    border-radius: 5px;
    padding: 10px;
}

.row.wrap-service .bloc-service:first-child {
    margin-right: 20px;
}

.wrap-brief h3 {
    font-size: 20px;
}

.wrap-brief p {
    margin: 0;
}

.wrap-service-lieb {
    max-width: 600px;
    margin: 25px auto;
    padding: 25px 0px;
    text-align: center;
}

.wrap-service-lieb h3 {
    font-size: 40px;
}

.wrap-service-lieb p {
    font-size: 20px;
    color: #00c3ff;
}

.col-9.service-brief {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap-brief.child1 h3 {
    color: #ba83fb;
}

.wrap-brief.child2 h3 {
    color: #ff62a6;
}

.wrap-brief.child3 h3 {
    color: #23a9fc;
}

.wrap-brief.child4 h3 {
    color: #fd5e67;
}

.wrap-brief.child5 h3 {
    color: #00d07d;
}

.wrap-brief.child6 h3 {
    color: #f7a732;
}

@media (max-width: 995px) {
    .col-3.service-logo, .col-9.service-brief{
        flex: auto;
        max-width: 100%;
    }
    .col-9.service-brief{
        text-align: center;
    }
    .wrap-logo img, .wrap-logo svg {
        margin: 10px 0 20px 0;
    }
}

@media (max-width: 768px) {
    .wrap-service-lieb h3 {
        font-size: 32px;
    }
    .col-9.service-brief {
        text-align: center;
        padding-bottom: 5px;
    }
    .container .row.wrap-service{
        display: block;
    }
}