.wrap-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.col-3.service-logo {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.responsive-show.item {
    width: 33.33%;
}

.bloc-service {
    /* width: 33.33% !important; */
    /* box-shadow: 0px 3px 8px 0px rgb(225 219 219); */
    margin-bottom: 50px;
    border-radius: 5px;
    padding: 10px;
    flex-basis: unset !important;
}

.wrap-service{
    display: flex;
    flex-wrap: wrap;
    margin-right: 0;
    margin-left: 0;
}

.wrap-brief h3 {
    font-size: 20px;
}

.wrap-brief p {
    margin: 0;
}

.wrap-service-lieb {
    max-width: 700px;
    margin: 25px auto;
    padding: 25px 0px;
    text-align: center;
}

.wrap-service-lieb h3 {
    font-size: 40px;
}

.bloc-service .row {
    margin: 0;
}

.row.service-details {
    margin-top: 20px;
}

.row.service-logo {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-banniere h3 {
    font-size: 40px;
}


/**bloc banniere*/

.image-banniere img {
    display: flex;
    width: 100%;
    max-width: 100%;
    height: auto;
}

.row.wrap-banniere {
    height: 338px;
    background: radial-gradient(circle at 75% calc(100% + 20px),#727272 0,#222 90%);
}

.row.wrap-banniere {
    overflow: hidden;
    margin: 0;
    position: relative;
}

.image-banniere {
    width: 100%;
}

.carousel.slide {
    position: relative;
}

.text-banniere {
    width: 600px !important;
    padding: 0 !important;
    position: absolute !important;
    left: 9%;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
}

.breacktrumps {
    position: absolute;
    top: 0;
    color: #fff;
    left: 9%;
    top: 20px;
}

.breacktrumps p {
    font-size: 14px;
}

.breacktrumps small {
    color: #ddd;
}

.wrapper-section-divider {padding-top: 1.25rem;}

.section-divider {
    height: 84px;
    background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,0.04) 100%);
}

/****bloc-success****/
.customer-logo img {
    max-width: 240px;
    max-height: 113px;
}
.wrap-customer-success .row {
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
    /* padding: 0 100px; */
}
.wrapper-customer-success-responsive{
    display: none;
}

.wrap-see-more-success {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 45px;
}

.wrap-see-more-success a {
    text-decoration: none !important;
    color: #fff !important;
    background: #007db8;
    border: 1px solid #007db8;
    cursor: pointer;
    display: inline-block;
    font-family: "SAPBook",Arial,Helvetica,sans-serif;
    padding: .5rem 1.25rem;
    display: b;
}

.wrap-see-more-success a:hover {
    background: #007db8cf;
    border: 1px solid #007db8cf;
}

/***/
@media screen and (max-width: 990px) {
    .wrap-customer-success .row {
        justify-content: space-between;
    }
}

@media screen and (max-width: 768px) {
    .responsive-show.item {
        width: 100% !important;
    }
    .text-banniere{
        width: 295px !important;
    }
    .text-banniere h3{
        font-size: 23px;
    }
    .wrapper-customer-success{
        display: none;
    }
    .wrapper-customer-success-responsive{
        display: block;
    }
    .carousel-indicators{
        display: flex !important;
    }
}

@media screen and (max-width: 600px) {
    .breacktrumps{
        display: none;
    }
    .customer-logo {
        text-align: center;
        margin-bottom: 20px;
    }
}

