.test_image {
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.test_image img {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ddd;
    border-radius: 100%;
    margin: 20px 0;
    min-width: 96px;
    width: 96px;
    height: 96px;
    /* width: 10%; */
    justify-content: center;
}

.wrap-testimonial-desc p {
    text-align: left;
    justify-content: center;
    display: flex;
    width: 730px;
    color: gray;
    margin: 0 auto;
    line-height: 25px;
    max-width: 100%;
    padding-bottom: 30px;
}

.wrap-testimonial .row {
    flex-wrap: nowrap;
    overflow: hidden;
    margin: 0 !important;
}

.wrap-testimonial {
    position: relative;
}


ol.carousel-indicators {
    bottom: -10px;
}

ol.carousel-indicators li {
    background: #ddd;
}
ol.carousel-indicators li.active {
    background: grey;
}

.wrap-testimonial-image {
    display: flex;
    align-items: center;
    margin: 0 40px;
}

.wrap-testimonial-image .test_name {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

span.test_name_cust {
    color: gray;
    font-weight: 500;
}

span.test_name_prof {
    color: gray;
}